* {
    margin: 0 auto;
    padding: 20px; 
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-size: 20px; 
    /* border: 1px solid #ff0011; */
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    background: #9d6288;
}

body {
    background-color: #f0f0f0;
    color: #ddd;
    width: 60%;
}

.header {
    background-color: #f9c4ac;
    color: #333;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.sidebar {
    background-color: #626f92;
    width: 200px;
    float: left;
    padding: 20px;
    height: 70vh;
    align-content: center;
}

.content {
    background-color: #474168;
    margin-left: 220px;
    padding: 20px;
    height: 70vh;
    align-content: center;
}

.footer {
    background-color: #272637;
    color: #ddd;
    text-align: center;
    padding: 20px;
    bottom: 0;
    margin-top: 20px;
}